<!DOCTYPE html>
<html>
<head>
    <title>default</title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        <label for="name">name:</label><br>
        <input type="text" name="name" id="name" value="some name"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
